@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Titillium Web', sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  // overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FF0055;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
